<div style="background-color:#f1f1f1">
  <mat-divider style="margin-bottom: 10px;"></mat-divider>
  <div style="display:block;font-size:1.19em;font-weight:bold;padding:5px 10px;border:1px solid #333;">
    Brokerage Products: Not FDIC Insured • No Bank Guarantee • May Lose Value
  </div>
  <br />
  <div>
    <p class="mat-caption">The Charles Schwab Corporation provides a full range of brokerage, banking and financial advisory
      services through its operating subsidiaries. Its broker-dealer subsidiary, Charles Schwab &amp; Co., Inc. (<a
        href="http://www.sipc.org" style="color: #047AEA !important;" target="_blank">member SIPC</a>), offers
      investment services and products, including Schwab brokerage accounts. Its banking subsidiary, Charles Schwab
      Bank, SSB&nbsp;(member FDIC and an Equal Housing Lender), provides deposit and lending services and products.
      Access to Electronic Services may be limited or unavailable during periods of peak demand, market volatility,
      systems upgrade, maintenance, or for other reasons.<br>
      <br>
      If you are not completely satisfied for any reason, at your request Charles Schwab &amp; Co., Inc. ("Schwab") or
      Charles Schwab Bank, SSB&nbsp;("Schwab Bank") will refund any eligible fee related to your concern within the
      required timeframes. Schwab reserves the right to change or terminate the guarantee at any time. Go to <a
        href="https://www.schwab.com/satisfaction" style="color: #047AEA !important;"
        target="_blank">schwab.com/satisfaction</a> to learn what's included and how it works.<br>
      <br>
      This site is designed for U.S. residents. Non-U.S. residents are subject to country-specific restrictions. Learn
      more about our services for <a href="http://international.schwab.com/public/international/us_investing"
        style="color: #047AEA !important;" target="_blank">non-U.S. residents</a>.<br>
      <br>
      © 2023&nbsp;Charles Schwab &amp; Co., Inc, All rights reserved. Member <a href="http://www.sipc.org/"
        style="color: #047AEA !important;" target="_blank">SIPC</a>. Unauthorized access is prohibited. Usage will be
      monitored.
    </p>
  </div>
</div>