<div class="mat-headline-4" style="margin-top: 24px;" translate>pages.account-choices.header</div>
<div><img src="./../../../assets/what-type-account.png" /></div>

<div class="left-align">
  <div id="TraditionalIraPoints" *ngIf="iraType==='traditional'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.traditionalIra</div>
    <div style="margin: 16px" class="mat-h4">
      $0 online equity trades.<br />
      Investment in stocks, ETFs, options, bonds and more.<br />
      Access to online tools and resources.<br />
      No fees and no account minimum.<br />
      Gives you an up-front tax break on pre-tax contributions.<br />
      Withdrawals taxed at your current income tax rate.<br />
      Required minimum distributions start at age 73.<br />
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openTraditionalIra' | translate}}
    </button>
  </div>

  <div id="RothIraPoints" *ngIf="iraType==='roth'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.rothIra</div>
    <div style="margin: 16px" class="mat-h4">
      $0 online equity trades<br />
      Investment in stocks, ETFs, options, bonds and more.<br />
      Access to online tools and resources.<br />
      No fees. No account minimum.<br />
      You'll get tax benefits when you withdraw in the future.<br />
      Withdrawals are generally tax and penalty free after 5 years and after age 59.5.<br />
      No minimum required distributions.<br />
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openRothIra' | translate}}
    </button>
  </div>

  <div id="RolloverIraPoints" *ngIf="iraType==='rollover'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.rolloverIra</div>
    <div style="margin:16px" class="mat-h4">
      $0 online equity trades.<br />
      Investment in stocks, ETFs, options, bonds and more.<br />
      Access to online tools and resources.<br />
      No fees and no account minimum.<br />
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openRolloverIra' | translate}}
    </button>
  </div>

  <div class="mat-headline-5" style="margin: 32px 16px 32px 16px;" translate>pages.account-choices.sub-header
  </div>

  <div id="TraditionalIraDescriptive" *ngIf="iraType!='traditional'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.traditionalIra</div>
    <div style="margin: 16px" class="mat-h4">
      A Traditional IRA is an Individual Retirement Account to which you can contribute pre-tax or after-tax dollars,
      giving you immediate tax benefits if your contributions are tax-deductible. With a traditional IRA, your money can
      grow tax-deferred, but you'll pay ordinary income tax on your withdrawals, and you must start taking distributions
      after age 73. Unlike with a Roth IRA, there are no income imitations to open a Traditional IRA. It may be a good
      option for those who expect to be in the same or lower tax bracket in the future.
      <a href="https://www.schwab.com/ira/trad-ira" target="_blank">Learn more about our Traditional IRA</a>
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openTraditionalIra' | translate}}
    </button>
  </div>

  <div id="RothIraDescriptive" *ngIf="iraType!='roth'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.rothIra</div>
    <div style="margin: 16px" class="mat-h4">
      A Roth IRA allows contributions and potential investment gains to accumulate tax-free. When they qualify, withdrawals can be taken out tax-free. There are also no mandatory withdrawals (unlike a traditional IRA). 
      <a href="https://www.schwab.com/ira/roth-ira" target="_blank">Learn more about our Roth IRA</a>
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openRothIra' | translate}}
    </button>
  </div>

  <div id="RolloverIraDescriptive" *ngIf="iraType != 'rollover'">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.rolloverIra</div>
    <div style="margin:16px" class="mat-h4">
      <p>
        If you are looking to move funds from an old employer-sponsored retirement plan, consider a Rollover Individual
        Retirement Account (IRA). Our rollover specialists can help you from start to finish. Learn more about our
        Rollover
        IRA
      </p>
      <p>
        A rollover of retirement plan assets to an IRA is not your only option. Carefully consider all of your available
        options, which may include but not be limited to keeping your assets in your former employer's plan, rolling
        over
        assets to a new employer's plan, or taking a cash distribution (taxes and possible withdrawal penalties may
        apply).
      </p>
    </div>
    <button mat-raised-button color="primary" style="margin: 16px; background-color: green;" (click)="next()">
      {{ 'pages.account-choices.openRolloverIra' | translate}}
    </button>
  </div>

  <div id="CustodialIraDescriptive">
    <div class="hmi-hd6" style="margin: 16px" translate>pages.account-choices.custodialIra</div>
    <div style="margin:16px" class="mat-h4">
      <p>
        A Custodial IRA is an Individual Retirement Account that a custodian (typically a parent) holds for a minor with
        an earned income. Once the Custodial IRA is open, all assets are managed by the custodian until the child
        reaches age 18 (or 21 in some states). 
        <a href="https://www.schwab.com/ira/custodial-ira" target="_blank">Learn more about our Custodial IRA</a>
      </p>
      <p>
        To open a Custodial IRA,
        <a href="https://www.schwab.com/resource/custodial-ira-application" target="_blank">download a Custodial IRA application</a>
      </p>
    </div>
  </div>
  <div style="margin-bottom: 64px;"></div>
</div>