<div class="mat-headline-4" style="margin-top: 24px;" translate>pages.existing-ira.header</div>

<div><img src="./../../../assets/what-type-account.png" /></div>

<div class="hmi-hd6" style="margin: 32px 0 32px 0;" translate>pages.existing-ira.question</div>

<div class="mat-subtitle-1" style="margin: 16px 0 16px 0;" translate>pages.existing-ira.hint</div>

<mat-card class="nav-card" [routerLink]="['/account-choices']" [queryParams]="{type: 'traditional'}">
  <mat-card-content class="hmi-hd8" translate>pages.existing-ira.option1</mat-card-content>
</mat-card>
<mat-card class="nav-card" [routerLink]="['/account-choices']" [queryParams]="{type: 'roth'}">
  <mat-card-content class="hmi-hd8" translate>pages.existing-ira.option2</mat-card-content>
</mat-card>

<div style="margin: 48px 0 24px 0;">
  <mat-divider></mat-divider>
</div>