.hmi-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.hmi-radio-button {
  margin: 5px;
}

.hmi-radio-label {
  align-items: start;
  display: flex;
  margin: 5px;
}